/*!
 * 	Theme Variables
 * ----------------------------------------------- */

:root {
    --body-font-family: "Maven Pro", sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-font-color: #505d68;
    --body-line-height: 1.45;
    --heading-font-family: "Maven Pro", sans-serif;
    --heading-font-color: #222426;
    --heading-font-weight: 700;
    --link-font-color: #222426;
    --link-hover-font-color: #ffb424;
    --white-color: #fff;
}


/*!
 *	Common
 * ----------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    background-color: #fff;
    text-align: left;
}

img {
    max-width: 100%
}

a {
    color: var(--link-font-color);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: brown;
}

p {
    margin-top: 0;
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 16px;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 24px;
}

ol,
ul {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 24px;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 16px;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

a>code {
    color: inherit;
}

kbd {
    padding: 4px 8px;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: 2px;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

blockquote {
    font-size: 28px;
    font-weight: 600;
    color: #000103;
    padding-left: 32px;
    border-left: 6px solid #ffb424;
    margin-top: 64px;
    margin-bottom: 64px;
}

#wrapper {
    overflow: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--heading-font-family);
    color: var(--heading-font-color);
    font-weight: var(--heading-font-weight);
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.25;
}

h1,
.h1 {
    font-size: 94px
}

h2,
.h2 {
    font-size: 60px
}

h3,
.h3 {
    font-size: 40px
}

h4,
.h4 {
    font-size: 24px
}

h5,
.h5 {
    font-size: 24px
}

h6,
.h6 {
    font-size: 17px
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}


/*!
 *	Spacing
 * ----------------------------------------------- */

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: #222426 !important;
}

.text-yellow {
    color: #ffb424 !important;
}

.text-center {
    text-align: center !important;
}


/*!
 *	Grid System
 * ----------------------------------------------- */

.wrap,
.wrap-fuild {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.wrap *,
.wrap-fuild * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
}

.col-2 {
    max-width: 16.66666667%;
    flex: 0 0 16.66666667%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.33333333%;
    flex: 0 0 33.33333333%;
}

.col-5 {
    max-width: 41.66666667%;
    flex: 0 0 41.66666667%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.33333333%;
    flex: 0 0 58.33333333%;
}

.col-8 {
    max-width: 66.66666667%;
    flex: 0 0 66.66666667%;
}

.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.33333333%;
    flex: 0 0 83.33333333%;
}

.col-11 {
    max-width: 91.66666667%;
    flex: 0 0 91.66666667%;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

.no-guttor {
    margin-right: 0;
    margin-left: 0;
}

.no-guttor>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.flex-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.align-center {
    -ms-align-items: center;
    align-items: center;
}

.align-justify {
    -ms-justify-content: space-between;
    justify-content: space-between;
}


/*!
 *	Form Styling
 * ----------------------------------------------- */

.btn {
    display: inline-block;
    padding: 16px 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: brown;
    font-family: var(--body-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
    color: var(--white-color);
}

.btn:focus {
    outline: none;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--yellow {
    background-color: #ffb424;
    color: #222426;
}

.btn--yellow:hover {
    background-color: #e69f16;
    color: #222426;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #707070;
    height: 44px;
    padding: 8px 16px;
    background-color: #fff;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
}

.form-control:focus {
    border-color: #1a1a1a;
    outline: none;
}

textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}


/*!
 *	Header
 * ----------------------------------------------- */

.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f0fff4;
}

.wrap-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .05);
    z-index: 4;
}

.sticky+.content {
    padding-top: 102px;
}

.navbar ul li a i:hover {
    color: brown;
}

.navbar ul li a i {
    font-size: 15px;
}

.navbar {
    position: relative;
}

.navbar ul {
    margin-left: auto;
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0px 0px 0px 50px;
    padding: 5px;
    font-size: 18px;
}

.site-header {
    display: flex;
}

.navbar ul li {
    color: brown;
    font-weight: 500;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: brown;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li ul.submenu li {
    font-size: 18px;
    padding: 20px 0 0 20px;
    margin-left: 0;
}

ul li ul.submenu {
    display: block;
    border-top: 2px solid brown;
}

ul li ul.submenu {
    width: 200px;
    padding: 0;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    margin: 0;
}

ul li a:hover {
    color: green;
}

ul li:hover ul.submenu {
    display: block;
}

.section--hero {
    background-color: #f0fff4;
    padding: 0px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    margin: 5px;
    width: 40px;
    height: 40px;
    top: 262px;
    line-height: 1.8;
    background: rgb(235 247 248);
    color: black;
}

.owl-prev span {
    position: absolute;
    top: -9px;
    left: 13px;
}

.owl-next span {
    position: absolute;
    top: -9px;
    left: 14px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -127px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -127px;
}

.hero__head {
    position: relative;
    z-index: 1;
}

.hero__head::before {
    position: absolute;
    content: "";
    background-color: #b3d9db;
    width: 406px;
    height: 20px;
    top: 418px;
    left: -1px;
}

.hero__head h1 {
    font-weight: 800;
    color: #1d3557;
    margin-bottom: 0px;
    width: 682px;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}

.hero__images img {
    width: 661px;
    position: relative;
    z-index: 2;
}

.hero__images {
    position: relative;
}

.hero__images .shape_4 {
    position: absolute;
    top: 96px;
    right: 0;
    z-index: 1;
    width: 200px;
}

.hero__images .shape_5 {
    position: absolute;
    right: 333px;
    bottom: 3px;
    width: 100px;
    z-index: 1;
    width: 85px;
}

.hero__link a {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}

.hero__link a:hover {
    color: #f0fff4;
    background-color: #1d3557;
}

.expert__best {
    background-color: #e1f3f4;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.expert__img {
    position: absolute;
    top: 29px;
    left: 26px;
}

.expert__text h4 {
    margin: 35px 0px 8px;
    font-weight: 500;
    text-align: center;
}

.expert__text p {
    text-align: center;
}

.section--team {
    padding: 0px 16px 130px;
}

.team__images img {
    border-radius: 999px;
    position: relative;
    z-index: 2;
}

.team__images {
    position: relative;
}

.team__images::after {
    position: absolute;
    content: "";
    width: 340px;
    height: 540px;
    top: 10px;
    left: 28%;
    background-color: #e1f3f4;
    border-radius: 50%;
}

.team__about span {
    font-weight: 500;
}

.team__about {
    position: relative;
    z-index: 1;
}

.team__about::after {
    position: absolute;
    content: "";
    width: 214px;
    height: 13px;
    background-color: #b3d9db;
    top: 169px;
    left: 0;
}

.team__about h2 {
    color: #1d3557;
    margin-top: 18px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.team__about p {
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0px 16px;
    color: #47999d;
}

.team__link a {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}

.team__link a:hover {
    color: #f0fff4;
    background-color: #1d3557;
}

.img_2 .img2_shape1 {
    position: absolute;
    right: -27px;
    top: -30px;
}

.img_2 {
    position: relative;
}

.service__product {
    padding: 0px 10px 50px;
    background-color: #e1f3f4;
    border-radius: 38px;
    position: relative;
}

.Service__text {
    position: relative;
    z-index: 1;
}

.Service__text::after {
    position: absolute;
    content: "";
    width: 219px;
    height: 13px;
    background-color: #b3d9db;
    top: 49px;
    left: 56px;
}

.Service__text span {
    font-weight: 500;
    position: absolute;
    top: -87px;
}

.Service__text h2 {
    width: 500px;
    color: #1d3557;
    position: relative;
    z-index: 1;
}

.Service__text {
    padding: 0px 0px 0px 60px;
}

.Service__text .title span {
    font-size: 60px;
    font-weight: 660;
    padding: 20px 0px;
}

.service__one p {
    font-size: 24px;
    font-weight: 600;
    width: 300px;
    margin-top: 24px;
}

.service__one span {
    width: 300px;
}

.service__one {
    background-color: white;
    max-width: 287px;
    padding: 30px;
    margin: 80px 0 0 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(29, 53, 87, 0.08) 0px 8px 46px 0px;
}

.slider-2.owl-carousel .owl-nav .owl-prev,
.slider-2.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -64px;
    background-color: white;
    width: 30px;
    height: 30px;
}

.slider-2 .owl-prev span {
    position: absolute;
    top: -5px;
    left: 10px;
}

.slider-2 .owl-next span {
    position: absolute;
    top: -5px;
    left: 11px;
}

.slider-2.owl-carousel .owl-nav .owl-prev {
    left: 1006px;
}

.slider-2.owl-carousel .owl-nav .owl-next {
    right: 60px;
}

.service__two p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

.service__two {
    background-color: white;
    padding: 30px;
    margin: 30px 0 0 10px;
    border-radius: 10px;
    max-width: 287px;
}

.Clients__head {
    margin: 20px 0 0;
}

.clients__heading h5 {
    font-size: 16px;
    color: #707070;
    font-weight: 500;
}

.clients__heading h2 {
    color: #1d3557;
}

.clients__heading p {
    margin: 28px 0px;
}

.Clients__text img {
    margin-right: 10px;
}

.Clients__text span a {
    color: #47999d;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 20px;
}

.Clients__text {
    margin-bottom: 20px;
}

.Clients__head strong {
    color: chocolate;
    padding-top: 10px;
    font-size: 18px;
}

.Clients__next span a {
    color: brown;
}

.Clients__next strong a {
    color: #707070;
}

.Clients__post {
    position: relative;
}

.Clients__post::before,
.Clients__post::after {
    position: absolute;
    content: "";
}

.Clients__post::before {
    top: 178px;
    left: 10px;
    background-color: #1d3557;
    width: 20px;
    height: 20px;
    border-radius: 158px;
}

.Clients__post::after {
    top: 448px;
    left: 42px;
    background-color: #1d3557;
    width: 60px;
    height: 60px;
    border-radius: 158px;
}

.Clients__imgages {
    position: relative;
}

.Clients__imgages::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 75px;
    left: 10px;
    background-color: #b3d9db;
    border-radius: 50px;
}

.Clients__imgages img {
    border-radius: 169px;
    margin: 30px 0px 0px 85px;
}

.Clients__img img {
    border-radius: 169px;
    margin-bottom: 30px;
}

.Clients__img span {
    margin-top: 100px;
}

.Clients__post img {
    margin-top: 184px;
    border-radius: 169px;
}

.section--facts {
    padding: 0px;
    text-align: center;
}

.images {
    position: relative;
    z-index: 2;
}

.fact__text {
    position: relative;
    z-index: 2;
}

.images .shape-1 {
    position: absolute;
    z-index: 1;
    left: -48px;
    bottom: -49px;
}

.facts__head h2 {
    color: #1d3557;
    margin: 0px;
}

.facts__head h3 {
    font-size: 62px;
    color: #1d3557;
}

.facts__head h3 {
    margin-bottom: 70px;
}

.fact__text {
    background-color: white;
    padding: 40px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(29, 53, 87, 0.08) 0px 8px 46px 0px;
}

.fact__text span {
    font-size: 40px;
    color: brown;
    font-weight: 700;
}

.fact__text p {
    font-size: 20px;
    color: rgb(69, 123, 157);
    margin: 0;
}

.solution__color {
    background-color: #e1f3f4;
    border-radius: 30px;
    padding: 60px 80px;
    position: relative;
}

.solution__heading {
    position: relative;
    z-index: 2;
}

.solution__heading::after {
    content: "";
    position: absolute;
    width: 288px;
    height: 12px;
    background-color: #b3d9db;
    top: 88px;
    left: 156px;
}

.solution__heading h5 {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.solution__heading h2 {
    color: #1d3557;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.solution__heading p {
    color: #228d93;
    font-weight: 600;
}

.solution__link a {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}

.solution__link a:hover {
    background-color: #1d3557;
    color: white;
}

.solution__images img {
    border-radius: 54px;
    padding: 40px;
    position: relative;
    z-index: 2;
}

.solution__images .shape-7 {
    position: absolute;
    z-index: 1;
    right: 320px;
    top: 24px;
}

.section--people {
    text-align: center;
    padding: 0px 0px 130px;
}

.People__main {
    margin-bottom: 60px;
}

.people__heading {
    position: relative;
}

.people__heading::after {
    position: absolute;
    content: "";
    width: 190px;
    height: 13px;
    top: 160px;
    left: 488px;
    background-color: #b3d9db;
}

.people__heading h2 {
    color: #1d3557;
    width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.people__heading h5 {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.People__images {
    position: relative;
    overflow: hidden;
}

.People__images:hover img {
    transform: scale(1.1);
}

.People__images img {
    transition: 1.1s;
}

.People__images h4 {
    position: absolute;
    top: 30px;
    left: 25px;
    color: #1d3557;
    text-align: left;
}

.People__contect {
    background-color: #e1f3f4;
    padding: 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.People__contect h4 {
    color: brown;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
}

.People__contect span {
    line-height: 1.9;
    letter-spacing: 3px;
}

.section--businor {
    padding: 0px 0px 130px;
}

.businor__text {
    display: flex;
}

.businor__imgage img {
    padding: 0px 50px;
    opacity: 0.3;
}

.businor__imgage img:hover {
    opacity: 1;
}

.section--blog {
    padding: 0px 0px 100px;
}

.blog__heading {
    position: relative;
    width: 400px;
}

.blog__heading::after {
    position: absolute;
    content: "";
    top: 165px;
    left: 0;
    width: 283px;
    height: 16px;
    background-color: #b3d9db;
}

.blog__heading h2 {
    color: #1d3557;
    position: relative;
    z-index: 2;
}

.blog__heading h5 {
    font-size: 20px;
    font-weight: 550;
    color: #707070;
}

.blog__text {
    width: 500px;
}

.blog__text img {
    position: relative;
    z-index: 2;
}

.blog__text .shape-2 {
    position: absolute;
    right: -33px;
    z-index: 1;
    top: -45px;
}

.blog__text p {
    width: 383px;
}

.blog__text h2 {
    margin: 0;
}

.blog__text h2 a {
    font-size: 24px;
    margin-bottom: 0;
    color: #1d3557;
}

.page--footer {
    padding: 130px 0px;
    background-color: #f3f4f6;
}

.page__text p {
    width: 368px;
    margin: 30px 0px;
}

.page__text h6 {
    width: 332px;
    color: #47999d;
    line-height: 1.6;
}

label {
    position: relative;
}

input {
    border: none;
    padding: 12px 30px;
    width: 350PX;
    border-radius: 5px;
}

button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 12px 30px;
    background: #1d3557;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

button:hover {
    background: brown;
}

.page__head {
    width: 400px;
    padding-left: 120px;
}

.page__head ul {
    list-style: none;
}

.page__head ul li {
    color: #707070;
    line-height: 2.2;
}

.page__head h4 {
    padding-left: 38px;
}

.page__demo {
    padding-left: 60px;
}

.page__demo p {
    width: 263px;
}

.page__head a:hover {
    color: brown;
}

.page__demo a:hover {
    color: rgb(94, 92, 92);
}

.section--busino {
    text-align: center;
    padding: 20px 0px;
}

.busino__text p a {
    color: #1d3557;
    font-size: 16px;
    font-weight: 600;
}